body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

#container {
    margin: auto ;
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-gap: 1rem;

}